﻿@model IEnumerable<RealEstateGitHub.Models.ExceptionDetail>

@{
    ViewBag.Title = "ViewExceptionList";
}

<h2>ViewExceptionList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exception)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Identity.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exception.Message)
        </td>
        <td>
        </td>
    </tr>
}

</table>
