﻿@using RealEstateGitHub.Helpers;
@model RealEstateGitHub.Models.PropertyModel

@{
    ViewBag.Title = "Property Detail";
}

@Scripts.Render("~/bundles/dateTimePicker")
@Styles.Render("~/Content/dateTimePickerCSS")

<h2>PropertyDetail</h2>
<div>
    <h4>Property Model</h4>
    
    <div class="row">
        <div class="col-md-6">
            <img src="~/Images/@Html.Encode(Model.ImageURL)" style="max-width:100%" />
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Reference)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Reference)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Locality)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Locality)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PropertyType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PropertyType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Bedrooms)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Bedrooms)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ContractType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ContractType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FloorArea)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FloorArea)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>
                @Html.DisplayNameFor(model => model.Description)
            </h4>
            <p>
                @Html.DisplayFor(model => model.Description)
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h4>Book a viewing now!</h4>
        </div>
    </div>

    @Html.DateTimePicker("bookViewingDateTimePicker")

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>


