﻿@model RealEstateGitHub.Models.PropertyModel

<div class="col-md-4">
    <img src="~/Images/@Model.ImageURL" style="max-width:100%" />
    <p>@Model.Locality</p>
    <p><em>@Model.PropertyType</em></p>
    @Html.ActionLink("Details", "PropertyDetail", new { id = Model.Reference })
</div>
